.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: sticky;
    top: 0;
    background-color: var(--black);
    z-index: 1000;
  }
  .logo{
    font-size: 2rem;
  }
  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  
.link {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 600;
    cursor: pointer;
  }
  .link:hover {
    color: var(--white);
    transform: all 0.3s;
  }

  .mobile-drawer {
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    .navbar{
      padding: 1.5rem;
    }
    .logo{
      font-size: 1 rem;
    }
    .links {
      display: none;
    }
  
    .mobile-drawer {
      display: block;
    }

    .drawer-div{
      width: 40vw;
      background-color: var(--black);
      height: 100vh;
      padding: 1.5rem;
    }
}