.grid-container{
    width: 320px;
    background-color: var(--darkgrey);
    border:2px solid var(--darkgrey);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    margin: 0.5vw 0.5vw;
}

.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
    
}

.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
    
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1.5rem;
    /* background-color: red; */
  
}

.icon-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .watchlist-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    border-radius: 50%;
    color: var(--green);
    padding: 0.5rem;
    height: 1.5rem;
    width: 1.5rem !important;
  }
  
  .watchlist-icon-red {
    border: 2px solid var(--red);
    color: var(--red);
  }
  
.coin-logo{
    height: 3rem;
    width: 3rem;
}
.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.coin-name{
    margin: 0;
    font-weight: 600;
    color: var(--grey);
    font-size: 1rem;
    text-transform: capitalize;
}
.coin-symbol{
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
}
.chip-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    /* background-color: blue; */
    margin: 1rem 1.5rem;  
}
.price-chip{
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    /* text-align: center; */
    font-weight: 600;
    color: var(--green);
    font-size: 1.1rem;
    margin-left: 0.5rem;
    /* background-color: aqua; */
    min-width: 70px;
}

.price-chip:hover,.icon-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.chip-red{
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}

.chip-red:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.icon-chip {
    border: 2px solid var(--green);
    height: 2.4rem !important;
    width: 2.4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--green);
    font-size: 1.1rem;
  }

  .info-container{
    margin: 1.5rem;
    margin-top: 0.3rem;
  }
  .coin-price{
    font-size: 1.2rem;
    font-weight: 600;
  }

  .total_volume{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  