.flex-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 3rem;
  }
  .left-component{
    
    margin-top: 4rem;
    width: 100%;
  }
  .track-crypto,.real-time{
    font-size: 8rem;
     margin: 0;
     
     width: 100%;
  }
  .track-crypto:hover {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    color: var(--black);
    transition: all 0.3s;
  }
  .real-time{
    color: var(--blue);
  }
  .info-text{
    font-size: 1rem;
    color: var(--grey);
  }
  .btn-flex{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .phone-container{
    width: 50%;
    position: relative;
    margin-left: auto;
  }
  .gradient {
    position: absolute;
    right: 50px;
    top: 80px;
    width: 250px;
  }
  .iphone {
    position: absolute;
    right: 50px;
    width: 300px;
    z-index: 100;
  }

  @media only screen and (max-width: 1350px) {
    .track-crypto,.real-time{
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 1050px) {
    .track-crypto,.real-time {
      font-size: 4rem;
    }
  
    .gradient {
      right: 0px;
      top: 60px;
      width: 200px;
    }
    .iphone {
      right: 0px;
      width: 250px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .track-crypto,.real-time{
      font-size: 2rem;
    }
    .flex-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .track-crypto,
    .real-time,
    .info-text {
      text-align: center;
    }
  
    .info-text {
      font-size: 0.8rem;
    }
  
    .btn-flex {
      justify-content: center;
      width: 100%;
    }
  
    .phone-container {
      margin-top: 3rem;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 800px) {
    .gradient,
    .iphone {
      left: 0px;
    }
  
    .iphone {
      left: -30px;
    }
  }
  